@using System.Web.Script.Serialization;
@using MvcApplication2.Controllers
@model MvcApplication2.Models.Application

@{
    ViewBag.Title = "Application";
}

@using (Html.BeginForm(null, null, FormMethod.Post))
{

    <h2 data-bind="text: applicationName"></h2>
    <div class="form-group">
        @Html.LabelFor(f => f.Name)
        @Html.TextBoxFor(f => f.Name, new { data_bind = "value: applicationName, valueUpdate: 'afterkeydown'" })
    </div>
    <div class="form-group">
        @Html.LabelFor(f => f.Category)
        @Html.EditorFor(f => f.Category)
    </div>
    <div class="form-group">
        @Html.LabelFor(f => f.Created)
        @Html.EditorFor(f => f.Created)
    </div>
    <input type="submit" class="submit btn btn-primary"/>
    <div class="hidden">
        @Html.HiddenFor(f => f.Id)
    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/knockout")
    <script>
        var linkModel = function() {
            var self = this;
            self.applicationName = ko.observable("@Model.Name");
        };

        ko.applyBindings(new linkModel());
    </script>   
}
